BUILD_APP_NAME=MANAGER
BUILD_PROJECT_DIR=C:/Users/Username/Projects/MyGreatApp
BUILD_VERSION_PATTERN=MANAGER_([\w.\-]+)$
BUILD_DEFAULT_SPEC_NAME=build.spec
BUILD_DEFAULT_ISS_NAME=setup.iss
BUILD_ISS_VERSION_PATTERN=^\s*#define\s+MyAppVersion\s+"([\w.\-]+)"

EXE_DIRECTORY=D:/knpu/MANAGER/exe
OUTPUT_DIRECTORY=D:/knpu/MANAGER/output
VENV_PYTHON=
INNO_SETUP_EXE=C:\Program Files (x86)\Inno Setup 6\ISCC.exe

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=
ACCOUNT_ID=