BUILD_APP_NAME=YourAppName
BUILD_PROJECT_DIR=Write your project directory here, e.g., C:/Users/Username/Projects/MyGreatApp
BUILD_VERSION_PATTERN=YourAppName_([\w.\-]+)$
BUILD_DEFAULT_SPEC_NAME=build.spec
BUILD_DEFAULT_ISS_NAME=setup.iss
BUILD_ISS_VERSION_PATTERN=^\s*#define\s+MyAppVersion\s+"([\w.\-]+)"

EXE_DIRECTORY=Write your pyinstaller output directory here, e.g., D:/knpu/MANAGER/exe
OUTPUT_DIRECTORY=Write your inno setup output directory here, e.g., D:/knpu/MANAGER/output
VENV_PYTHON=Write the path to your venv python executable here, e.g., C:/GitHub/knpu/venv/Scripts/python.exe
INNO_SETUP_EXE=C:\Program Files (x86)\Inno Setup 6\ISCC.exe

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=
ACCOUNT_ID=