BUILD_APP_NAME=MANAGER
BUILD_PROJECT_DIR=C:/Users/Username/Projects/MyGreatApp
BUILD_VERSION_PATTERN=MANAGER_([\w.\-]+)$
BUILD_DEFAULT_SPEC_NAME=build.spec
BUILD_DEFAULT_ISS_NAME=setup.iss
BUILD_ISS_VERSION_PATTERN=^\s*#define\s+MyAppVersion\s+"([\w.\-]+)"